#ignore .htaccess
.htaccess

# Ignore db config files
api/0.1/include/config.php
wgm/wgm_config.php
wgm/cli/wgm_db/config.ini
# temp files
wgm/cli/tmp/

#usage stats
wmg/usage/

# Ignore hide
hide/

# For Python #
##############
__pycache__/
.cache/
